<div class="c-agora">
    <form id="join-form" class="c-agora__form" name="join-form">
        <div class="c-agora__button-group">
            <button id="join" type="submit"
                    class="c-agora__button c-agora__button_live"
                    (click)="startVideoCall()"
                    *ngIf="isError === false; else connectionProblem"
                    [ngClass]="isActiveMicrophone ?'p-button-success':'p-button-warning'">
                Подключиться
            </button>

            <ng-template #connectionProblem>
                <button class="c-agora__button c-agora__button_danger"
                        (click)="startVideoCall()"></button>
            </ng-template>

            <!--<button nbButton type="button" id="mic-btn" class="c-agora__button" [disabled]="isHiddenButtons">
              <i id="mic-icon" class=""></i>
            </button>-->

            <button type="button" id="leave" class="c-agora__button"
                    [disabled]="isHiddenButtons"
                    (click)="leaveVideoCall()">
                Выйти
            </button>
        </div>
    </form>

    <div *ngIf="agora.cloudRecordData?.sid">The unique identification of the current recording:
        <code>{{agora.cloudRecordData?.sid}}</code>
    </div>

    <div class="c-agora__video-block">
        <div>
            <p id="local-player-name" class="player-name"></p>
            <div id="local-player" class="player"></div>
        </div>
        <div class="test" *ngFor="let i of agora.remoteUsers">
            <div id="{{ 'remote-playerlist' + i.uid}}" class="ui centered medium" style="width: 200px;height: 200px;">{{i.name}}</div>
        </div>
    </div>

</div>
