$color-green: #0b991e;
$color-red: #990b0b;

.c-agora {
  .player {
    width: 480px;
    height: 320px;
  }

  &__form{

  }

  &__video-block {

  }

  &__button-group {

  }

  &__button{

    &_live{
      border: 1px solid $color-green;
    }

    &_danger{
      border: 1px solid $color-red;
    }
  }

  .player-name {
    margin: 8px 0;
  }

  .video-block {

  }

  @media all and (max-width: 640px) {
    .player {
      width: 320px;
      height: 240px;
    }
  }

  @media all and (max-width: 768px) {
    .player {
      width: 640px;
      height: 370px;
    }
  }
}
