<nb-layout>

  <nb-layout-header fixed>
    <!-- Insert header here -->
  </nb-layout-header>

  <nb-layout-column>
    <div class="row">
      <div>
        <button *ngIf="isHidden" nbButton type="button" status="primary"
                (click)="open(1)">{{textConnect}}</button>
      </div>
    </div>

    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>

<!--<iframe #iframe [src]="iframeSrc" class="hidden-iframe"></iframe>-->
